.gallery__wrapper {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 98px 98px 98px;
}
.gallery__wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0;
}
.gallery_grid-one {
     grid-area: 1 / 1 / 3 / 2; 
}
.gallery_grid-two {
     grid-area: 1 / 2 / 2 / 3; }
.gallery_grid-three {
     grid-area: 1 / 3 / 2 / 4; 
}
.gallery_grid-four{ 
    grid-area: 2 / 2 / 3 / 3; 
}
.gallery_grid-five { 
    grid-area: 2 / 3 / 3 / 4; 
}

.gallery__title-title {
    text-align: center;
    color: #101010;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 79px;
    text-transform: uppercase;
}



@media (max-width: 1027px) {
    .gallery__wrapper {
        padding: 0 40px 40px 40px;
    }

    .gallery__title h2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 550px) {
    .gallery {
        margin-bottom: 20px;
    }
    .gallery__wrapper {
        padding: 0 10px 10px 10px;
    }
}